.container {
  margin-left: auto;
  margin-right: auto;
}

.TEAM {
  text-align: center;
}

.table {
  font-family: 'Roboto', sans-serif;
}

.btn-default {
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: blue;
  color: white;

}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  background-color: blue;
  vertical-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: blue;
  color: white;
}


#toplogo {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
